services:
  backend:
    build: .
    ports:
      - '8000:8000'
    env_file:
      - .env
    depends_on:
      - mysql
      - redis
    restart: always
  mysql:
    image: mysql:9.2.0
    restart: always
    ports: -"3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD: root
      - MYSQL_DATABASE: admin
      - MYSQL_USER: root
      - MYSQL_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
  redis:
    image: redis:7
    restart: always
    ports:
      - '6379:6379'
volumes:
  mysql_data:
